In [8]:
age=18
name="emily"
print(age ,name)

18 emily

In [ ]:
早餐 = 50

In [ ]:
午餐 = 100

In [15]:
餐費 = 早餐 + 午餐

NameError: name '早餐' is not defined

In [14]:
print(餐費)

NameError: name '餐費' is not defined

In [12]:
週三氣溫 = 32

In [2]:
週四氣溫 = 32

In [3]:
週五氣溫 = 32

In [4]:
週六氣溫 = 32

In [5]:
四天平均溫度 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [7]:
print(四天平均溫度)

32.0

In [16]:
週三氣溫, 週四氣溫, 週五氣溫, 週六氣溫 = 48, 36, 52, 23

In [17]:
四天平均溫度 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [18]:
print(四天平均溫度)

39.75

In [19]:
print( (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4)

39.75

In [21]:
一日花費 = 300

In [22]:
一周花費= 一日花費*7

In [23]:
一月花費= 一周花費*4

In [24]:
print(一月花費)

8400