In [8]:
age=18
name="emily"
print(age ,name)

18 emily

In [ ]:
早餐 = 50

In [ ]:
午餐 = 100

In [15]:
餐費 = 早餐 + 午餐

NameError: name '早餐' is not defined

In [14]:
print(餐費)

NameError: name '餐費' is not defined

In [12]:
週三氣溫 = 32

In [2]:
週四氣溫 = 32

In [3]:
週五氣溫 = 32

In [4]:
週六氣溫 = 32

In [5]:
四天平均溫度 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [7]:
print(四天平均溫度)

32.0

In [16]:
週三氣溫, 週四氣溫, 週五氣溫, 週六氣溫 = 48, 36, 52, 23

In [17]:
四天平均溫度 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [18]:
print(四天平均溫度)

39.75

In [19]:
print( (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4)

39.75

In [21]:
一日花費 = 300

In [22]:
一周花費= 一日花費*7

In [23]:
一月花費= 一周花費*4

In [24]:
print(一月花費)

8400

In [25]:
a = 1
b = 1.1

In [26]:
a, b

(1, 1.1)

In [27]:
print(1)

1

In [28]:
print(type(a))

<class 'int'>

In [29]:
print(type(b))

<class 'float'>

In [30]:
c = -1

In [31]:
print(type(c))

<class 'int'>

In [32]:
str1 = "PeiYu說: 'Hey,你好！'"

In [33]:
str2 = 'PeiYu說: "Hey,你好！"'

In [34]:
str1

"PeiYu說: 'Hey,你好！'"

In [35]:
str2

'PeiYu說: "Hey,你好！"'

In [36]:
print(type(str1))

<class 'str'>

In [37]:
print(type(True))

<class 'bool'>

In [38]:
print(type(56.0))

<class 'float'>

In [39]:
print(type("Hey man, how are you?"))

<class 'str'>

In [40]:
print(type(56))

<class 'int'>

In [41]:
num1 = 1+1.1

In [42]:
print(num1)

2.1

In [43]:
print(type(num1))

<class 'float'>

In [44]:
int(num1)

2

In [45]:
str(num1)

'2.1'

In [46]:
float(num1)

2.1

In [47]:
num1, num2

NameError: name 'num2' is not defined

In [48]:
num2= 2

In [49]:
num1, num2

(2.1, 2)

In [50]:
num2 = float(num2)

In [51]:
print(type(num2))

<class 'float'>

In [52]:
a = 1
b = 2
c = 3

In [53]:
print(a,b,c)

1 2 3

In [54]:
print([a,b,c])

[1, 2, 3]

In [55]:
print(a,[b,c])

1 [2, 3]

In [56]:
print(a,[b],c)

1 [2] 3

In [58]:
print('hi','hello','hey', sep='-')

hi-hello-hey

In [62]:
print('hi','hello','hey', sep='\t')

hi	hello	hey

In [61]:
print('hi','hello','hey', sep='\n')

hi
hello
hey

In [64]:
print('‘午安','同學好','打起精神來!!,', sep='-')

‘午安-同學好-打起精神來!!,

In [65]:
print(123)
print(456)

123
456

In [66]:
print(123,end=',')
print(456)

123,456

In [67]:
print(123,end=' ')
print(456)

123 456

In [68]:
print( '‘下午好','平安順心','健康如意^^’',sep=',')

‘下午好,平安順心,健康如意^^’

In [69]:
輸入測試 = input("請輸入數字")

In [71]:
輸入測試

''

In [72]:
print(type(輸入測試))

<class 'str'>

In [22]:
輸入測試 = int(input("請輸入數字"))

In [23]:
輸入測試

50

In [21]:
輸入測試 = int(input("請輸入數字"))

In [15]:
國文成績 = int(input("請輸入國文成績"))
英文成績 = int(input("請輸入英文成績"))
數學成績 = int(input("請輸入數學成績"))
print(國文成績 + 英文成績 + 數學成績)

180

In [17]:
長 = int(input("請輸入長"))
寬 = int(input("請輸入寬"))
print(長*寬)

30