In [1]:
print("0813")

0813

In [2]:
if (score>=60):
    grade="及格"
sum = sum + score

NameError: name 'score' is not defined

In [4]:
密碼=int(input("請輸入密碼"))
if 密碼 ==1234:
    print("密碼正確")

密碼正確

In [12]:
rain=int(input("請輸入是否下雨"))
if(rain=="Y"or rain=="y") :    
    print("不用帶傘")

ValueError: invalid literal for int() with base 10: 'y'

In [10]:
密碼=int(input("請輸入密碼"))
if 密碼 ==1234:
    print("密碼正確")
else :
    print("密碼錯誤")

密碼錯誤

In [17]:
偶數判斷=int(input("請輸入一個整數"))
if 偶數判斷%2 == 1 :
    print("你輸入的數字是奇數")
else :
    print("你輸入的數字是偶數")

你輸入的數字是奇數

In [19]:
a=int(input(" "))
if a>=37.5 :
    print("體溫過高")
elif (a<=37.4) and (a>=37) :
    print("體溫略高")
elif (a<=36.9)  and (a>=34) :
    print("體溫正常")
else :
    print("體溫異常，請重新量測")

體溫略高

In [20]:
a=int(input(" "))
if a>=90 :
    print("A")
elif (a<=89) and (a>=80) :
    print("B")
elif (a<=79)  and (a>=70) :
    print("C")
elif (a<=69)  and (a>=60) :
    print("D")
else :
    print("E")

E

In [12]:
購物車總額=int(input("請輸入購物車總額"))
if 購物車總額>=1000 :
    total=購物車總額 * 0.8
    print(total)
elif (購物車總額<=999)  and (購物車總額>=500) :
    total=購物車總額 * 0.9
    print(total)
else :
    print(購物車總額)

800.0

In [13]:
total=int(input("請輸入購物車總額"))
if total>=1000 :
    total=total * 0.8
    print(total)
elif (total<=999)  and (total>=500) :
    total=total * 0.9
    print(total)
else :
    print(total)

800.0

In [14]:
fuel=int(input("請輸入剩餘油量"))
if fuel>=5 :
    print("需要立即加油！")
elif (fuel<10) and (fuel>5) :
    print("油量不足，建議加油")
else :
    print("油量充足")

需要立即加油！

In [9]:
amount=int(input("請輸入轉帳金額"))
if  amount>=10000 :
    print(amount)
elif (amount<=9999) and (amount>=5000) :
    amount=amount-50
    print(amount)
elif (amount<=4999)  and (amount>=1000) :
    amount=amount-100
    print(amount)
else :
    amount=amount-150
    print(amount)

350

In [9]:
c=range(3,8,1)

In [10]:
c

range(3, 8)

In [3]:
d=(3,8,2)

In [4]:
e=range(8,3,-1)

In [5]:
e

range(8, 3, -1)

In [11]:
e = range(8, 3, -1) # 8,7,6,5,4

In [12]:
d = range(3, 8, 2)  # 3,5,7

In [13]:
c = range(3, 8, 1)  # 3,4,5,6,7

In [14]:
print(c,d,e)

range(3, 8) range(3, 8, 2) range(8, 3, -1)

In [17]:
print(list(c))

[3, 4, 5, 6, 7]

In [18]:
print(list(d))

[3, 5, 7]

In [19]:
print(list(e))

[8, 7, 6, 5, 4]

In [22]:
c1=list(c)

In [23]:
print(c1)

[3, 4, 5, 6, 7]

In [24]:
print(type(c1))

<class 'list'>

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [29]:
for i in range(9):
     print(i, end=",")

0,1,2,3,4,5,6,7,8,

In [31]:
for i in range(1,10,1):
     print(i, end=",")

1,2,3,4,5,6,7,8,9,

In [60]:
for i in range(1,10,1):
     print(i)

1
2
3
4
5
6
7
8
9

In [33]:
for i in range(1,10,2):
     print(i)

1
3
5
7
9

In [37]:
for i in range(10,1,-2):
     print(i)

10
8
6
4
2

In [39]:
n=int(input("請輸入一個數字"))
for i in range(n):
     print(i)

0
1
2
3
4

In [41]:
sum = 0 
for n in range(3):     
    sum = sum+n 
print(sum)

3

In [42]:
sum = 0 
for n in range(4):     
    sum = sum+n 
print(sum)

6

In [44]:
sum = 0 
for n in range(10):     
    sum = sum+n 
print(sum)

45

In [67]:
sum = 0 
a=int(input(" "))
for n in range(a):     
    sum = sum+n 
print(sum)

15

In [142]:
sum = 0 
a=int(input(" "))
for n in range(a):     
    sum = sum+n 
print(sum)
for n in range(a):
    print(sum)

IndentationError: expected an indented block after 'for' statement on line 6 (1071225087.py, line 7)

In [141]:
sum = 0 
for n in range(0,101,2):     
    sum = sum+n 
print(sum)

2550

In [130]:
for i in range(10,0,-1):
     print(i)
print("倒數結束！")

10
9
8
7
6
5
4
3
2
1
倒數結束！

In [151]:
for i in range(1,11):
     a=i**2
     print((a) ,end=" ")

1 4 9 16 25 36 49 64 81 100

In [145]:
for i in range(3,30,4):
     print(i)

3
7
11
15
19
23
27

In [152]:
for i in range(10,51) :
    if i>25:
        print(i,end='\n')

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [122]:
a=int(input(" "))
b=int(input(" "))
b=b+1
if a<=25 :
    a=26
if b<=26 :
    b=0
for i in range(a,b) :
    print(i)

26
27
28
29

In [146]:
total=0
for j in range(100) :
    total+=j
    print(total)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [147]:
for i in range(1,199,2):
     print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197

In [148]:
sum = 0 
for n in range(1,200,2):     
    sum = sum+n 
print(sum)

10000

In [149]:
sum = 0 
for n in range(-9,0,2):     
    sum = sum+n 
print(sum)

-25