In [8]:
a=range(5)
print(list(a))

[0, 1, 2, 3, 4]

In [9]:
a=range(1,5)
print(list(a))

[1, 2, 3, 4]

In [10]:
a=range(1,10,2)
print(list(a))

[1, 3, 5, 7, 9]

In [ ]:
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list2=["香蕉","蘋果","橘子"]
print(list2)

['香蕉', '蘋果', '橘子']

In [ ]:
list3=[1,"蘋果","true"]
print(list3)

[1, '蘋果', 'true']

In [ ]:
print(list1[0])

1

In [ ]:
print(list2[1])

蘋果

In [ ]:
print(list1[3])

5

In [ ]:
print(list2[0])
print(list2[1])
print(list2[2])

香蕉
蘋果
橘子

In [ ]:
print(list2[-1])
print(list2[-2])
print(list2[-3])

橘子
蘋果
香蕉

In [ ]:
list5=[["tom","1234"]],["mary","abcd"],["david",5678]
print(list5[1])
print(list5[0])
print(list5[2])
print(list5[0][0])
print(list5[1][0])
print(list5[1][1])

['mary', 'abcd']
[['tom', '1234']]
['david', 5678]
['tom', '1234']
mary
abcd

In [ ]:
a,b,c=map(int,input().split())
d='國文成績:{}\n數學成績:{}\n英文成績:{}'
e=d.format(a,b,c)
print(e)

國文成績:78
數學成績:45
英文成績:49

In [ ]:
list2=["香蕉","蘋果","橘子"]
for i in list2:
    print(i,end=",")

香蕉,蘋果,橘子,

In [ ]:
list2=[123,"apple","true"]
for i in list2:
    print(i,end="\n")

123
apple
true

In [ ]:
scores=[75,78,49]
for i in range(len(scores)):
    print(i)

0
1
2

In [11]:
scores=[85,79,93]
for i in range(scores):
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [ ]:
list1=input().split()
a="{}"
b=a.format(list1)
print(b)

['4', '5']

In [ ]:
list1=input().split()
a='{}'
b=a.format(list1[-1])
print(b)

8

In [ ]:
c,d,e=input().split()
a="{} {} {}"
b=a.format(e,d,c)
print(b)

3 5 7

In [ ]:
a,b,c=map(int,input().split())
for i in range(a,b,c):
    e=list(i)
    print(e)

TypeError: 'list' object is not callable

In [ ]:
a,b,c=map(int,input().split())
for i in range(a,b,c):
    print(i,end=",")

1,6,11,16,21,26,31,36,41,46,51,56,61,66,71,76,81,86,91,96,

In [ ]:
a,b,c=map(int,input().split())
for i in range(a,b,c):
    print(list(i))

TypeError: 'list' object is not callable

In [5]:
b,c,e=input().split()
a=range(b,c,e)
print(list(a))

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
a=range(1,100,5)
print(list(a))

TypeError: 'list' object is not callable

In [12]:
a,b,c=map(int,input().split())
for i in range(a,b,c):
    print(list(i))

TypeError: 'int' object is not iterable

In [7]:
a,b,c=map(int,input().split())
d=list(range(a,b,c))
print(d)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [145]:

input_string = input("請輸入字串和數字（用逗號分隔）：")

# 分割輸入的字串
string_part, number_part = input_string.split(',')

# 處理字串部分
strings = string_part.split()
reversed_strings = ' '.join(reversed(strings))

numbers = number_part.split()
reversed_numbers = ' '.join(reversed(numbers))

# 輸出結果
print(f"{reversed_strings}, {reversed_numbers}")

ValueError: not enough values to unpack (expected 2, got 1)

In [146]:
input_string = input("請輸入字串（用空格分隔）：")
words = input_string.split()
reversed_words = ' '.join(reversed(words))
print(reversed_words)

cake banana apple

In [148]:
input_data = input("請輸入資料（用空格分隔）：")
items = input_data.split()
reversed_items = ' '.join(reversed(items))
print(reversed_items)

apple banana cake

In [149]:
input_data = input("請輸入字串資料（用空格分隔）：")
items = input_data.split()
reversed_items = ' '.join(reversed(items))
print(reversed_items)

In [4]:
input_data = input()
items = input_data.split()
reversed_items = ' '.join(reversed(items))
print(reversed_items)

wemo people two , emo people one

In [6]:
input_data = input("請輸入 range 的三個參數（起始值 終止值 間隔值）：")
start, stop, step = map(int, input_data.split())
result_list = list(range(start, stop, step))
print(result_list)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]