In [5]:
a=float(input())
b=float(input())
c=a%b
print(c)

2.5

In [13]:
a=int(input())
b=a//60
c=a%60
d="park time:{}h:{}m"
e=d.format(b,c)
print(e)
if (c<60)and(b==0):
    print("pay:20 money")
elif (b>=1)and(c>0)and(b<7):
    h=20+40*b
    f="pay:{} money"
    g=f.format(h)
    print(g)
elif (b>=1)and(c==0)and(b<8):
    i=40*b
    j="pay:{} money"
    k=j.format(i)
    print(k)
else:
    print("pay:300 money")

park time:4h:29m
pay:180 money

In [14]:
a,b,c=map(int,input().split())
d=list(range(a,b,c))
print(d)

[3, 4, 5, 6, 7]

In [15]:
a=int(input())
if (a%4==0)and(a%100!=0):
    b="{} is leap year"
    c=b.format(a)
    print(c)
elif (a%100==0)and(a%400==0):
    b="{} is leap year"
    c=b.format(a)
    print(c)
else:
    d="{} is common year"
    e=d.format(a)
    print(e)

2100 is common year

In [16]:
a=int(input())
if (a<=100)and(a>=90):
    b="{} is A"
    c=b.format(a)
    print(c)
elif (a<90)and(a>=80):
    d="{} is B"
    e=d.format(a)
    print(e)
elif (a<80)and(a>=70):
    f="{} is C"
    g=f.format(a)
    print(g)
elif (a<70)and(a>=60):
    h="{} is D"
    i=h.format(a)
    print(i)
elif (a<60)and(a>=0):
    j="{} is E"
    k=j.format(a)
    print(k)
else :
    l="{} is error"
    m=l.format(a)
    print(m)

50 is E

In [17]:
a,b,c=map(int,input().split())
for i in range(a,b,c):
    print(i,end=",")

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [19]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [20]:
n=int(input())
for j in range(n,10) :
    for i in range(1,10) :
        k=i*j
        print("%d*%d=%d" % (j,i,k), end=" ",)
    print()

4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [25]:
t=float(input())
b=float(input())
h=float(input())
area=(t+b)*h/2
e="t={} b={} h={} area={}"
f=e.format(t,b,h,area)
print(f)

t=2.0
b=5.0
h=4.8
area=16.8

In [31]:
start, end = map(int, input().split())
narcissistic_numbers = []
for num in range(start, end + 1):
    hundreds = num // 100
    tens = (num // 10) % 10
    ones = num % 10
    sum_of_cubes = hundreds**3 + tens**3 + ones**3
    if sum_of_cubes == num:
        narcissistic_numbers.append(num)
print(','.join(map(str, narcissistic_numbers)) + ',')

370,371,407,

In [34]:
a,b=map(int,input().split())
for i in range(a,b):
    hundreds = i // 100
    tens = (i // 10) % 10
    ones = i % 10
    sum_of_cubes = hundreds**3 + tens**3 + ones**3
    if sum_of_cubes==i:
        print(sum_of_cubes,end=",")

153,